:root {
  /* Colors */
  --clr-primary-paleblue-200: hsl(225, 100%, 94%);
  --clr-primary-brightblue-600: hsl(245, 75%, 52%);

  --clr-neutral-paleblue-100: hsl(225, 100%, 98%);
  --clr-neutral-desaturatedblue-300: hsl(224, 23%, 55%);
  --clr-neutral-darkblue-700: hsl(223, 47%, 23%);

  /* Font Family */
  --ff-base: "Red Hat Display", sans-serif;

  /* Font weight */
  --fw-regular: 500;
  --fw-bold: 700;
  --fw-extrabold: 900;

  /* Margin / Padding */
  --content-padding: 2rem;
  --content-spacing: 0.5rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
